
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand-1{
    font-weight: 700;
    text-transform: uppercase;
    /* font-size: 40px !important; */
}

.navitem>li>a{
    margin: 0 15px;
    color: black;
}
.carousel-container{
    background-color: #470159;
    padding-top: 80px;
    padding-bottom: 80px;
}
.slider-image{
    width: 75%;
}
.carousel-item .row{
    display: flex;
    align-items: center;
}

.about-section .row{
    display: flex;
    align-items: center;
}
.details-box{
    display: flex;
    flex-direction: column;
    
}
.details-box h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.details-box p{
    font-size: 1rem;
}
.service-section{
    margin-top: 50px;
    background: linear-gradient(to bottom, transparent 200px, #f1f2f3 200px);
}
.service-header{
    text-align: center;
    margin-bottom: 30px;
}
.service-card{
    background-color: #470159;
}
.service-section .service-body .service-card img{
    
    width: 25%;
}
.service-description{
    padding-bottom: 80px;
}
.service-description p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-description a{
    padding-top: 20px;
    padding-bottom: 40px;
}
.manage-section .container .row{
    display: flex;
    align-items: center;
}

.contact-us{
    background-color: #470159;
}

.customer-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.customer-card-out img{
    border: 5px solid rgb(190, 190, 190);
    width: 25%;
    border-radius: 50%;
    margin-left: 25px;
}

.customer-card{
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
    margin-top: -45px;
}

.footer-top{
    background-color: #470159;
    margin-top: 50px;
}

.footer-link a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.footer-subscribe-btn{
    width: 300px;
    fill: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin-bottom: 16px;
    margin: 15px 0;
}
